html {
  font-size: 1em;
  line-height: 1.4;
}
html,
body {
  height: 100%;
}
body {
  overflow-x: hidden;
}

@-webkit-viewport {
  width: device-width;
}
@-moz-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
li {
  list-style: none;
}
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
a:hover {
  text-decoration: none;
}
ul {
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
::-moz-selection {
  background: #0c38ed;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #0c38ed;
  color: #fff;
  text-shadow: none;
}

.main-bg {
  background: #BDBDBD;
  opacity: 0.9
}

.main-bg2 {
  background: #BDBDBD;
}

.main-bg-send {
  background: #0c38ed;
}

.main-color {
  color: #0c38ed;
}
.white-color {
  color: #fff;
}
.button {
  padding: 20px 60px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  color: #fff;
  text-shadow: none;
  outline: none;
  border: 0;
}
.button:hover {
  cursor: pointer;
  color: #fff;
}
.button.light {
  padding: 19px 59px;
}
.line {
  width: 80px;
  height: 2px;
  margin-top: 15px;
}
.button.light {
  border: 2px solid #eeeeee;
}
.padding-large {
  padding-top: 90px;
  padding-bottom: 90px;
}
.padding-top-large {
  padding-top: 90px;
}
.margin-top-large {
  margin-top: 90px;
}
.margin-bottom-large {
  margin-bottom: 50px;
}
.margin-top-medium {
  margin-top: 40px;
}
.margin-bottom-medium {
  margin-bottom: 40px;
}
.margin-bottom-small {
  margin-bottom: 25px;
}
.margin-right-small {
  margin-right: 15px;
}
.margin-left-small {
  margin-left: 15px;
}
.mat-none {
  margin-top: 0;
}
.mab-none {
  margin-bottom: 0;
}
.mar-none {
  margin-right: 0;
}
.mal-none {
  margin-left: 0;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}

.top-animate {
  background: #fff !important;
  top: 13px !important;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.mid-animate {
  opacity: 0;
}
.bottom-animate {
  background: #fff !important;
  top: 13px !important;
  -webkit-transform: rotate(-225deg);
  transform: rotate(-225deg);
}
.top-menu,
.mid-menu,
.bottom-menu {
  width: 28px;
  height: 4px;
  border-radius: 10px;
  background-color: #fff;
}
.top-menu {
  top: 5px;
}
.mid-menu {
  top: 13px;
}
.bottom-menu {
  top: 21px;
}
.menui {
  background: #FFF;
  transition: 0.6s ease;
  transition-timing-function: cubic-bezier(0.75, 0, 0.29, 1.01);
  margin-top: 10px;
  position: absolute;
}
.menu-trigger {
  z-index: 999;
  position: fixed;
  display: block;
  padding: 9px;
  height: 32px;
  width: 32px;
  margin: 0px;
  top: 45px;
  right: 115px;
}
.mobilenav {
  font-family: inherit;
  top: 0;
  left: 0;
  z-index: 999;
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: #0c38ed;
  opacity: 0.9;
  text-transform: uppercase;
}
.mobilenav li {
  list-style-type: none;
  text-align: center;
  padding: 20px;
  font-size: 220%;
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  width: 100%;
}
.mobilenav li:last-child span {
  border-bottom: none;
}
.mobilenav li:hover {
  cursor: pointer;
}
.nav-label {
  border-bottom: 1px solid #fff;
  padding-bottom: 10px;
  display: block;
  width: 350px;
  margin: 0 auto;
}
.mobilenav li:first-child {
  margin-top: 100px;
}

@-webkit-keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
.hvr-pulse {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}

.hvr-pulse:hover,
.hvr-pulse:focus,
.hvr-pulse:active {
  -webkit-animation-name: hvr-pulse;
  animation-name: hvr-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.hvr-rectangle-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.hvr-rectangle-out:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(231, 76, 60, 0.9);
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-rectangle-out:hover,
.hvr-rectangle-out:focus,
.hvr-rectangle-out:active {
  color: white;
}

.hvr-rectangle-out:hover:before,
.hvr-rectangle-out:focus:before,
.hvr-rectangle-out:active:before {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}



/* HEADER */

header {
  position: relative;
}
header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url('http://www.sist.puglia.it/opencms/resources/admin/images/semi-transparent.gif') repeat;
}
header .carousel,
header .item,
header .active {
  height: 100%;
}
.carousel-inner {
  min-height: 500px;
  height: 100%;
}
.fill {
  width: 100%;
  height: 100%;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.carousel-indicators li {
  width: 40px;
  height: 4px;
  border: none;
  border-radius: 0;
  background: #fff;
}
.carousel-indicators .active {
  width: 40px;
  height: 5px;
  background: #0c38ed;
}
.carousel-caption {
  top: 25%;
}
.carousel-caption h1 {
  font-size: 48px;
  text-transform: uppercase;
  font-weight: normal;
}
.carousel-control.left,
.carousel-control.right {
  background: none;
}
.icon-prev,
.icon-next {
  font-size: 60px !important;
}
header .logo-container {
  position: absolute;
  top: 52px;
  left: 93px;
  z-index: 10;
}



/* INFO VDW */

.info-vdw {
  background: url("/images/bg-info-vdw.jpg") no-repeat center fixed;
  background-size: cover;
  position: relative;
}
.info-vdw .overlay {
  background: rgba(238, 238, 238, 0.95);
}
.info-vdw .jumbo-text {
  text-transform: uppercase;
  color: #272727;
  font-size: 40px;
}
.info-vdw p {
  color: #484848;
  line-height: 24px;
}
.info-vdw img {
  margin-top: -50px;
}
.panel {
  background: none;
  border: none;
  box-shadow: none;
}
.panel-default > .panel-heading {
  background: #0c38ed;
  color: #f3eff0;
  cursor: pointer;
  border-radius: 3px;
  box-shadow: 1px 1px 1px #d7d7d7, -1px -1px 1px #d7d7d7;
}
.panel-heading {
  padding: 0;
}
.panel-title > a {
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 10px 15px;
}
.collapsed {
  background: #ededed !important;
  color: #222;
}
.collapsed strong,
.collapsed .state {
  color: #222222;
}
.state {
  font-size: 18px;
  line-height: 18px;
}



/* BANNERS */
.banner .col-md-6 {
  padding: 0;
  cursor: pointer;
  color: #fff;
  transition: background .5s;
}
.banner-left .overlay {
  padding-left: 200px;
  padding-right: 50px;
  transition: background .5s;
}
.banner-right .overlay {
  padding-right: 200px;
  padding-left: 50px;
  transition: background .5s;
}
.banner .banner-left {
  background: url("/images/banner-links.jpeg") no-repeat;
  background-size: cover;
}
.banner .banner-right {
  background: url("/images/banner-rechts.jpeg") no-repeat;
  background-size: cover;
}
.banner .overlay:hover {
  width: 100%;
  background: #BDBDBD;
}
.banner h3 {
  text-shadow: 1px 1px 1px #444;
  font-size: 28px;
  font-weight: bold;
}
.banner .description {
  font-weight: lighter;
}


/* ONZE DIENSTEN */
.onze-diensten .icon {
  font-size: 35px;
  height: 80px;
  width: 80px;
  line-height: 80px;
  border: 1px solid #efefef;
  display: inline-block;
  border-radius: 4px;
}
.onze-diensten .icon i {
  color: #0c38ed;
}
.onze-diensten h4 {
  margin: 15px 0 20px;
  color: #000;
}
.onze-diensten p {
  color: #aaaaaa;
}
.onze-diensten .service {
  padding: 5px;
  margin-bottom: 50px;
  cursor: pointer;
}
.onze-diensten .service:hover > .icon {
  background: #0c38ed;
  color: #fff;
  transition: all .85s;
}
.onze-diensten .service:hover > .icon i {
  color: #fff;
  transition: all .85s;
}



/* MAP */
#map-container {
  height: 500px;
  width: 100%;
}



/* CONTACT */
.send-message {
  padding: 20px;
}
.send-message .send-icon {
  height: 80px;
  width: 80px;
  margin: 0 auto;
  background: #BDBDBD;
  border-radius: 50%;
  line-height: 60px;
  margin-top: -60px;
  font-size: 20px;
  position: relative;
}
.send-message p {
  font-size: 30px;
}
.send-message:hover {
  cursor: pointer;
}
.send-message .modal-lg {
  width: 700px;
}
.modal .modal-content {
  box-shadow: none;
  border-radius: 0;
  border: 0;
  position: relative;
}
.modal .close {
  margin: 0;
  position: absolute;
  right: 0;
  top: 0;
  background: #333;
  opacity: 1;
  height: 40px;
  width: 40px;
  color: #FFF;
  font-size: 28px;
  line-height: 45px;
  outline: none;
  z-index: 10;
}
.modal .close span {
  outline: none;
}
.modal .modal-body {
  padding: 40px 60px;
}
.modal .member-info {
  padding: 0;
}
.modal input {
  height: 50px;
}
.modal input,
.modal textarea {
  padding: 10px 20px;
  border-radius: 0;
  font-size: 18px;
}
.modal input:focus,
.modal textarea:focus {
  border-color: #0c38ed;
  box-shadow: none;
}
.modal textarea {
  resize: none;
}
.modal .button {
  width: 100%;
  border-radius: 0;
  padding: 15px 60px;
}
.form-control::-webkit-input-placeholder {
  color: #DBDBDB;
  font-style: italic;
}



/* FOOTER */
.footer p {
  color: #bababa;
  font-size: 16px;
}
.footer li {
  display: inline-block;
  margin: 0 5px;
  height: 50px;
  width: 50px;
  line-height: 50px;
  border-radius: 50%;
  border: 2px solid #e5e5e5;
  background: #fff;
  transition: all .4s;
}
.footer li:hover {
  cursor: pointer;
}
.footer li a {
  color: #e5e5e5;
}
.footer .social i {
  font-size: 22px;
  transition: all .4s;
}
.footer .facebook:hover {
  border-color: #3b5998;
}
.footer .facebook:hover > a i {
  color: #3b5998;
}
.footer .twitter:hover {
  border-color: #00aced;
}
.footer .twitter:hover > a i {
  color: #00aced;
}
.footer .instagram:hover {
  border-color: #FF0080;
}
.footer .instagram:hover > a i {
  color: #FF0080;
}
.footer .youtube:hover {
  border-color: #bb0000;
}
.footer .youtube:hover > a i {
  color: #bb0000;
}

.back-to-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 100;
  background: #0c38ed;
  cursor: pointer;
  width: 50px;
  height: 50px;
  line-height: 60px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  -webkit-animation: pulse 1s linear 0s infinite alternate;
  -moz-animation: pulse 1s linear 0s infinite alternate;
  -o-animation: pulse 1s linear 0s infinite alternate;
  animation: pulse 1s linear 0s infinite alternate;
}
@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
  }
  to {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
  }
}
@-moz-keyframes pulse {
  from {
    -moz-transform: scale3d(1, 1, 1);
  }
  to {
    -moz-transform: scale3d(1.1, 1.1, 1.1);
  }
}
@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }
  to {
    transform: scale3d(1.1, 1.1, 1.1);
  }
}
